#fecha {
    padding-top: 15px;
    padding-right: 15px;
    float: right;
}

#cont-form {
    padding-top: 100px;
}

#logo-semana-info {
    padding-top: 50px;
    padding-left: 50px;
}

#titulo_ta_po {
    padding-top: 30px;
}